<div ng-init="init()">
    <a href ng-click="back()">back</a><span ng-show="messages.length === MAX_MESSAGES"> | <a href ng-click="showHistory()">history</a></span><logged-in></logged-in>
    <div class="block-panel">
        <h2 class="block-panel-heading">Room {{ room.name }}</h2>
        <div class="row message-input">
            <div class="col-lg-12">
                <form name="sendMessageForm" ng-submit="sendMessageForm.$valid && sendMessage()">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Send</button>
                        </span>
                        <input type="text" class="form-control" ng-model="message" autofocus required>
                        <span class="input-group-btn">
                            <button class="btn btn-default upload-btn" ng-click="toggleShowUpload()" ng-disabled="inUpload" title="Upload file" type="button">&nbsp;</button>
                        </span>
                    </div>
                </form>
                <form name="uploadFileForm" ng-show="inUpload" ng-submit="uploadFileForm.$valid && uploadFile()">
                    <div class="input-group">
                        <input type="file" class="form-control" name="upload" required />
                        <span class="input-group-btn">
                            <button class="btn btn-default ok-btn" title="Upload" type="submit">&nbsp;</button>
                        </span>
                        <span class="input-group-btn">
                            <button class="btn btn-default cancel-btn" ng-click="toggleShowUpload()" title="Cancel" type="button">&nbsp;</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-show="messages.length > 0">
            <div class="panel-body chat-body">
                <span class="message" ng-repeat="message in messages">
                    <span class="user" ng-style="getStyle(message)">{{ message.username }}</span><span ng-hide="message.isSystem">:</span> 
                    <i style="color: {{ message.color }}" ng-show="message.isSystem">{{ message.text }}</i>
                    <span ng-hide="message.isSystem">{{ message.text }}</span>
                </span>
            </div>
        </div>
    </div>
</div>
