<div ng-init="init()">
    <a href="#/lobby">back</a><logged-in></logged-in>
    <div class="block-panel">
        <h2 class="block-panel-heading">Room {{ room.name }}</h2>
        <div class="row message-input">
            <div class="col-lg-12">
                <form name="sendMessageForm" ng-submit="sendMessageForm.$valid && sendMessage()">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Send</button>
                        </span>
                        <input type="text" class="form-control" ng-model="message" autofocus required>
                    </div>
                </form>
            </div>
        </div>
        <div class="panel panel-default" ng-show="messages.length > 0">
            <div class="panel-body chat-body">
                <span class="message" ng-repeat="message in messages"><span class="user" style="color: {{ message.color }}">{{ message.username }}</span>: {{ message.text }}</span>
            </div>
        </div>
    </div>
</div>
